<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Events</title>
    <link rel="stylesheet" href="/css/eventMaintain.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <a href="/internalIndex" class="home-button">Home</a>
    <h1>Completed Events</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Completed Event Name</th>
                <th>Number of Volunteers Attended</th>
                <th>Duration</th>
                <th>Number of Pockets Produced</th>
                <th>Number of Collars Produced</th>
                <th>Number of Vests Produced</th>
                <th>Total Completed Products</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% completedevents.forEach(event => { %>
            <tr>
                <td><%= event.completedeventname %></td>
                <td><%= event.numattended %></td>
                <td><%= event.duration %></td>
                <td><%= event.numpocketsproduced %></td>
                <td><%= event.numcollarsproduced %></td>
                <td><%= event.numvestsproduced %></td>
                <td><%= event.totalcompletedproducts %></td>
                <td><%= event.eventstatus %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
</body>
</html>
