<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Events</title>
    <link rel="stylesheet" href="/css/maintain.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="hero">
        <nav>
            <div class="logo-container">
                <img src="/images/logo.png" alt="Logo" class="logo">
                <span class="company-name">TURTLE SHELTER <br>PROJECT</span>
            </div> 
            <ul>
                <li><a href="/internalIndex">DASHBOARD</a></li>
                <li><a href="/volunteerMaintain">VOLUNTEERS</a></li>
                <li><a href="/eventMaintain">EVENTS</a></li>
                <li><a href="/userMaintain">USERS</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </header>
    <h1>Completed Events</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Completed Event Name</th>
                <th>Number of Volunteers Attended</th>
                <th>Duration</th>
                <th>Number of Pockets Produced</th>
                <th>Number of Collars Produced</th>
                <th>Number of Vests Produced</th>
                <th>Total Completed Products</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% completedEvents.forEach(event => { %>
            <tr>
                <td><%= event.completedeventname %></td>
                <td><%= event.numattended %></td>
                <td><%= event.duration %></td>
                <td><%= event.numpocketsproduced %></td>
                <td><%= event.numcollarsproduced %></td>
                <td><%= event.numvestsproduced %></td>
                <td><%= event.totalcompletedproducts %></td>
                <td><%= event.eventstatus %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
    <form action="/CompletedEvents" method="GET">
        <button type="submit">Back to Completed Event Maintenance</button>
    </form>
</body>
</html>
