<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event</title>
    <link rel="stylesheet" href="/css/event.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <a href="/eventMaintain" class="home-button">Back</a>
    <h1>Edit Event</h1>
    <form action="/updateEvent/<%= event.eventid %>" method="POST">
        <label for="eventname">Event Name:</label>
        <input type="text" id="eventname" name="eventname" value="<%= event.eventname %>" required>
        <br>

        <label for="eventcontactlastname">Contact Last Name:</label>
        <input type="text" id="eventcontactlastname" name="eventcontactlastname" value="<%= event.eventcontactlastname %>" required>
        <br>

        <label for="eventstatus">Event Status:</label>
        <input type="text" id="eventstatus" name="eventstatus" value="<%= event.eventstatus %>" required>
        <br>

        <label for="eventtype">Event Type:</label>
        <input type="text" id="eventtype" name="eventtype" value="<%= event.eventtype %>" required>
        <br>

        <label for="eventyear">Event Year:</label>
        <input type="number" id="eventyear" name="eventyear" value="<%= event.eventyear %>" required>
        <br>

        <label for="eventmonth">Event Month:</label>
        <input type="number" id="eventmonth" name="eventmonth" value="<%= event.eventmonth %>" required>
        <br>

        <label for="eventday">Event Day:</label>
        <input type="number" id="eventday" name="eventday" value="<%= event.eventday %>" required>
        <br>

        <label for="starttime">Start Time:</label>
        <input type="time" id="starttime" name="starttime" value="<%= event.starttime %>" required>
        <br>

        <label for="estimatedduration">Estimated Duration:</label>
        <input type="text" id="estimatedduration" name="estimatedduration" value="<%= event.estimatedduration %>" required>
        <br>

        <label for="eventcontactphone">Contact Phone:</label>
        <input type="text" id="eventcontactphone" name="eventcontactphone" value="<%= event.eventcontactphone %>" required>
        <br>

        <label for="eventcontactemail">Contact Email:</label>
        <input type="email" id="eventcontactemail" name="eventcontactemail" value="<%= event.eventcontactemail %>" required>
        <br>

        <label for="eventstreetaddress">Street Address:</label>
        <input type="text" id="eventstreetaddress" name="eventstreetaddress" value="<%= event.eventstreetaddress %>" required>
        <br>

        <label for="eventcity">City:</label>
        <input type="text" id="eventcity" name="eventcity" value="<%= event.eventcity %>" required>
        <br>

        <label for="eventstate">State:</label>
        <input type="text" id="eventstate" name="eventstate" value="<%= event.eventstate %>" required>
        <br>

        <label for="eventzipcode">Zip Code:</label>
        <input type="text" id="eventzipcode" name="eventzipcode" value="<%= event.eventzipcode %>" required>
        <br>

        <label for="numattending">Total Attending:</label>
        <input type="number" id="numattending" name="numattending" value="<%= event.numattending %>" required>
        <br>

        <label for="jensharestory">Jen Sharing Story?</label>
        <input type="text" id="jensharestory" name="jensharestory" value="<%= event.jensharestory %>" required>
        <br>

        <label for="storylength">Story Length:</label>
        <input type="text" id="storylength" name="storylength" value="<%= event.storylength %>" required>
        <br>

        <label for="under10amount">Total Under Age 10:</label>
        <input type="number" id="under10amount" name="under10amount" value="<%= event.under10amount %>" required>
        <br>

        <label for="numsewers">Total Sewers:</label>
        <input type="number" id="numsewers" name="numsewers" value="<%= event.numsewers %>" required>
        <br>

        <label for="numhostsewingmachines">Total Sewing Machines:</label>
        <input type="number" id="numhostsewingmachines" name="numhostsewingmachines" value="<%= event.numhostsewingmachines %>" required>
        <br>

        <label for="locationdescription">Location Description:</label>
        <textarea id="locationdescription" name="locationdescription" required><%= event.locationdescription %></textarea>
        <br>

        <button type="submit">Update Event</button>
    </form>

    <script>
        // Show/Hide story length input based on Jen's story response
        const jenStory = document.getElementById('jenstory');
        const jenStoryDetails = document.getElementById('jenstorydetails');

        jenStory.addEventListener('change', function () {
            if (jenStory.value === 'yes') {
                jenStoryDetails.style.display = 'block';
            } else {
                jenStoryDetails.style.display = 'none';
            }
        });
    </script>
</body>
</html>
