<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Maintenance</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/eventMaintain.css">
</head>
<body>
     <!-- Home Button -->
     <a href="/" class="home-button">Home</a>
    <h1>Event Maintenance</h1>
    <div class="table-container">
        <table border="1">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Event Date</th>
                    <th>Event Start Time</th>
                    <th>Event Location</th>
                    <th>Number of Attendees</th>
                    <th>Jen's Story</th>
                    <th>Story Length</th>
                    <th>Attendees Under 10</th>
                    <th>Number of Sewers</th>
                    <th>Sewing Machines Provided</th>
                    <th>Location Description</th>
                </tr>
            </thead>
            <tbody>
                <% events.forEach(event => { %>
                <tr>
                    <td><%= event.eventName %></td>
                    <td><%= event.eventDate %></td>
                    <td><%= event.eventTime %></td>
                    <td><%= event.eventLocation %></td>
                    <td><%= event.numAttendees %></td>
                    <td><%= event.jenStory %></td>
                    <td><%= event.storyLength %></td>
                    <td><%= event.numUnder10 %></td>
                    <td><%= event.numSewers %></td>
                    <td><%= event.numMachines %></td>
                    <td><%= event.locationDescription %></td>
                    <td>
                        <form action="/editEvent/<%= event.eventID %>" method="GET" style="display:inline;">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/deleteEvent" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this event?');">
                            <input type="hidden" name="eventID" value="<%= event.eventID %>">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <br>
    <form action="/addEvent" method="GET">
        <button type="submit">Add Event</button>
    </form>
</body>
</html>
