<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/maintain.css">
</head>
<body>
    <header class=“hero”>
        <nav>
            <div class=“logo-container”>
                <img src="images/logo.png" alt="Logo" class="logo">
                <span class=“company-name”><br>TURTLE SHELTER <br>PROJECT</span>
            </div>
             <ul>
                <li><a href="/internalIndex">HOME</a></li>
                <li><a href="/userMaintain">USERS</a></li>
                <li><a href="/volunteerMaintain">VOLUNTEERS</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">EVENTS</a>
                    <ul class="dropdown-menu">
                        <li><a href="/eventMaintain">Manage Events</a></li>
                        <li><a href="/completedEvents">Completed Events</a></li>
                        <li><a href="/FAQ">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </header>
    <h1>Volunteers List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>How Found</th>
                <th>Sewing Level</th>
                <th>Hours/Week</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% volunteers.forEach(volunteer => { %>
            <tr>
                <td><%= volunteer.volid %></td>
                <td><%= volunteer.volfirstname %></td>
                <td><%= volunteer.vollastname %></td>
                <td><%= volunteer.volphone %></td>
                <td><%= volunteer.wherefound %></td>
                <td><%= volunteer.sewinglevel %></td>
                <td><%= volunteer.numhoursvolunteering %></td>
                <td>
                    <a href="/editVolunteer/<%= volunteer.volid %>">
                        <button class="edit-btn">Edit</button>
                    </a>
                    <form action="/delete/<%= volunteer.volid %>" method="POST" style="display:inline;">
                        <button class="delete-btn" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
            <a href="/addVolunteer">
                <button class="add-btn">Add</button>
            </a>
        </tbody>
    </table>
</body>
</html>

